{% extends 'base.html' %}

{% block app_content %}
    <h1>{% block title %} Дома {% endblock %}</h1>
    <table>
    
    <tr><td><a href="{{ posts[0]['ulic_url'] }}">{{ posts[0]['ulic_name'] }}, </a></td><td><a href="{{ posts[0]['dom_url'] }}">{{posts[0]['dom_name']}}, </a></td><td><a>почтовый индекс {{posts[0]['dom_index']}}.</a></td><td><a> Координаты дома: {{posts[0]['dom_coor1']}}, {{posts[0]['dom_coor2']}}.</a></td></tr>
     
</table>
<br><hr>   <table>
<form method="post">
 
    <tr><th>Соседние дома</th></tr>
    <tr><th>Не дальше</th><th>Не ближе</th></tr>
    <tr><th>
    <input type="text" name="long_max"
               placeholder="%"
               value="{{ request.form['long_max'] }}"></input>
    </th><th>
    <input type="text" name="long_min"
               placeholder="%"
               value="{{ request.form['long_min'] }}"></input>
    </th></tr>

    <tr><td><button type="submit">Поиск</button></td></tr>
</form>


    <tr><th style="background-color: #BCBCBC">Дом</th><th style="background-color: #BCBCBC">Улица</th><th style="background-color: #BCBCBC">Расстояние</th></tr>
    {% for c in rezult %}
    <div class='c'>
    <tr><td><a href="{{ c[1] }}">{{ c[0] }} </a></td><td><a href="{{ c[3] }}">{{ c[2] }}</a></td><td><a>   {{ c[4] }}, м. </a></td></tr>
    </div>
    {% endfor %}
</table>
    
{% endblock %}